<a href="https://colab.research.google.com/github/AdrianJason/deep-learning-challenge/blob/main/AlphabetSoupCharity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from google.colab import drive
drive.mount('/content/drive')

#  Import and read the charity_data.csv.
import pandas as pd
url = 'https://drive.google.com/uc?id=1XE59nK-s1PfcpSAQU5qX0DbjwiBCnWwn'
abc_df = pd.read_csv(url)
abc_df.head()

Mounted at /content/drive

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
abc_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [ ]:
abc_df.duplicated().sum()

0

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
abc_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [ ]:
# Determine the number of unique values in each column.
for column in abc_df.columns:
    print(f"{column}: {abc_df[column].nunique()}")

APPLICATION_TYPE: 17
AFFILIATION: 6
CLASSIFICATION: 71
USE_CASE: 5
ORGANIZATION: 4
STATUS: 2
INCOME_AMT: 9
SPECIAL_CONSIDERATIONS: 2
ASK_AMT: 8747
IS_SUCCESSFUL: 2

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_count = abc_df['APPLICATION_TYPE'].value_counts()
app_count

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    abc_df['APPLICATION_TYPE'] = abc_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
abc_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_count = abc_df['CLASSIFICATION'].value_counts()
print(class_count)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
abc_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    abc_df['CLASSIFICATION'] = abc_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
abc_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(abc_df)
app_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop('IS_SUCCESSFUL', axis=1)
y = app_dummies['IS_SUCCESSFUL']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=25)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
from tensorflow.keras.layers import Dense

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train.columns)

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=32, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(Dense(units=32, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 32)                1408

 dense_5 (Dense)             (None, 32)                1056

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,497
Trainable params: 2,497
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5746 - accuracy: 0.7169
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5547 - accuracy: 0.7303
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7335
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7328
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5483 - accuracy: 0.7340
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5469 - accuracy: 0.7339
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7343
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7343
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7350
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7357
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7354
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7357
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7358
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7371
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7362
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7374
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7369
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5415 - accuracy: 0.7368
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7375
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7372
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7381
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7364
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7385
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7384
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7381
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5400 - accuracy: 0.7389
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7372
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5395 - accuracy: 0.7394
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7395
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7387
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7395
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7385
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7390
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7404
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7397
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5382 - accuracy: 0.7397
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7387
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7392
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7396
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7393
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7402
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7405
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7397
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5373 - accuracy: 0.7399
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7390
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7401
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7389
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7402
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7407
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5364 - accuracy: 0.7408
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7396
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7396
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7400
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7397
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7411
Epoch 57/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5362 - accuracy: 0.7402
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7407
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7394
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7397
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7398
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7410
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7400
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7401
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7407
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7402
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7404
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7402
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5357 - accuracy: 0.7406
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7423
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7410
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5357 - accuracy: 0.7410
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7405
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7411
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7405
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7424
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7414
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7409
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7412
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7414
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7411
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7411
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7413
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7413
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7413
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5342 - accuracy: 0.7411
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5343 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7413
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7399
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7409
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7417
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5338 - accuracy: 0.7412
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5339 - accuracy: 0.7412
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7417
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7407

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

268/268 - 1s - loss: 0.5662 - accuracy: 0.7219 - 728ms/epoch - 3ms/step

In [ ]:
from tensorflow.keras.models import load_model

# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")